@charset "utf-8";
@font-face {
  font-family: HORARIO DE BRASILIA;
  src: url(American\ Captain.ttf);
}


body {
    background: rgb(0, 0, 0);
    background-image: url(https://s1.1zoom.me/big0/409/Alarm_clock_Clock_Colored_background_560279_1280x853.jpg);
    height: 400px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100v

}

h1 {

    font-family: HORARIO DE BRASILIA;
}





    .relogio {

font-size: 6em;
background-color: aliceblue;



    }

    footer {
        color: rgb(43, 0, 0);
        }